$board-bg: #f0f0f0;
$add-note: #808000;
$add-note-font: white;
$note-minwidth: 200px;
$note-minheight: 200px;

$toolbar-bg: #eaeaea;
$ant-btn-plus-bg: olive;
$ant-btn-delete-bg: #4682B4;
$ant-btn-color: white;